<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chelonia Dashboard</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="assets/css/main.css">
  <script type="importmap">
    {
      "imports": {
        "vue": "https://esm.sh/vue@2.7.16",
        "vue-router": "https://esm.sh/vue-router@3.6.5",
        "vuex": "https://esm.sh/vuex@3.6.2",
        "three": "https://esm.sh/three@0.158.0",
        "vue-clickaway": "https://esm.sh/vue-clickaway@2.2.2",
        "@sbp/sbp": "https://esm.sh/@sbp/sbp@2.4.1",
        "dompurify": "https://esm.sh/dompurify@2.2.7",
        "vuelidate": "https://esm.sh/vuelidate@0.7.6",
        "pug": "https://esm.sh/pug@3.0.2"
      }
    }
  </script>
</head>
<body>
  <div id="app" class="app-layout">
    <app-styles></app-styles>
    <toolbar v-if='!hideToolbar' class="l-toolbar" :no-navigation="hideNavigation" @open-nav="openNav"></toolbar>
    <navigation v-if="!hideNavigation" class="l-navigation" ref="navigation"></navigation>
    <transition appear name="page-fade">
      <router-view class="l-page"></router-view>
    </transition>
    <modal class="l-modal"></modal>
  </div>
  <script type="module" src="assets/js/main.js"></script>
</body>
</html>
